@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&family=Clicker+Script&family=Dancing+Script&family=Kaushan+Script&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200&family=Nerko+One&family=Nunito:wght@400;500;600&family=Oswald:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,900;1,100;1,200;1,300;1,500;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;1,100&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Trade+Winds&family=Work+Sans:ital,wght@0,100;0,200;0,400;1,200;1,400&family=ZCOOL+QingKe+HuangYou&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    user-select: none;
}

$pink:#fa1d86;
$blue:#224bcf;
$black:#302851;
$white:#fff;
$light-pink:#ffeaf4;
$light-blue:#e9edfb;
$light-color:#666;
$light-bg:#f5f5f5;
$border:.1rem solid rgba(0,0,0,.1);
$box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
html{
overflow-x: hidden;
}
.container{
padding: 50px 8%;
}
img{
width: 100%;
}
@mixin btn(){
padding: 10px 15px;
border-radius: 5px;
color: $blue;
background-color: $light-bg;
}
@mixin grid($val){
display: grid;
grid-template-columns: repeat(auto-fit,minmax($val,auto));
gap: 20px;
}
// start header
header{
display: flex;
align-items: center;
justify-content: space-between;
z-index: 100000;
position: static;
top: 0;
left: 0;
width: 100%;
background-color: $blue;
padding: 12px 8%;
.logo{
font-size: 25px;
color: $white;
font-weight: 550;
i{
color: $pink;
}
}
.navbar{
ul{
list-style: none;
li{
position: relative;
float: left;
&:hover ul{
display: block;
}
a{
padding: 15px 20px;
display: block;
font-size: 20px;
color:$white;
&:hover{
background: $pink;
}
}
ul{
position: absolute;
left:0;
background: $blue;
display: none;
width: 170px;
z-index: 10000;
li{
width: 100%;
}
}
}
}
}
.menu{
color: $white;
font-size: 25px;
display: none;
}
}
// start home
.home .container {
.top{
display: flex;
align-items:center ;
justify-content: center;
        
gap: 30px;
.home_img{
 width: 50%;
}
.home_info{
width: 50%;
h2{
font-size: 40px;
}
p{
margin-bottom: 20px;
color: $light-color
}
.btn{
@include btn;
transition: .3s;
&:hover{
background-color: $blue;
color: $white             
}             
}
}
}
.center{
@include grid(200px);
margin-top: 50px;
padding: 20px;
.box{
background-color: $light-bg;
text-align: center;
height: 200px;
padding: 30px 0;

img{
width: 60px;
margin-bottom: 20px;
transition: .3s;
}
&:hover img{
transform: translateY(-10px);
}
h2{
font-size: 20px;
font-weight: 600;
}
}
}
}
// start about
.heading{
img{
height: 150px;
}
position: relative;
.text{
position: absolute;
top: 0;
left: 0;
padding: 0 8%;
margin-top: 30px;
 h2{
color: $blue;
font-size: 30px;
}
.links{
.btn_heading{
color: $pink;
margin-right: 10px;
&:hover{
color: $black;
}             
}
}
}
}
.about_container{
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
margin-top: 50px;
.about-img{
width: 50%;
}
.about-info{
width: 50%; 
h2{
 color: $blue;
 font-size: 40px;
}
p{
 color: $light-color;
 margin: 10px 0 20px 0;
}
.btn{
@include btn();
transition: .3s;
&:hover{
color: $white;
background-color: $blue;
}
} 
}
}
// start course1
.allBoxCourses-1{
@include grid(330px);
.box{
text-align: center;
background-color: $light-bg;
padding: 35px 20px;
img{
width: 100px;
margin-bottom: 10px;
}
p{
color: $light-color;
 margin: 15px 0;
}
.btn{
@include btn();
background-color: $light-blue;
transition: .3s;
&:hover{
color: $white;
background-color: $blue;
}
}
}
}
// start courses-2
.course2{
.container{
@include grid(325px);
.box{
background-color: $light-bg;
padding:  30px 30px 65px 30px;
.img{
width: 200px;
margin: auto;
height: 55%;              
img{
text-align: center;
margin: auto;   
 width: 100%;
}          
}
.info{
span{
color: $pink;
}
h2{
font-size: 18px;
margin: 10px 0;
}
p{
color: $light-color;
margin-bottom: 10px;
}
.btn{
position: relative;
margin: 25px 0;
a{
@include btn();
transition: .3s;
background-color: $light-blue;
&:hover{
color: $white;
background-color: $blue;
}
}
}
.time{
display: flex;
justify-content: space-between;
margin-top: 10px;
}
}
}
}
}
// start course3
.corse3{
.container{
@include grid(325px);
.box{
text-align: center;
margin-top: 80px;
.video{
height: 25rem;
height: 100%;
text-align: center;
position: relative;
overflow: hidden;
video{
width: 100%;
height: 100%;
border-radius: .5rem;
object-fit: cover;
transition: .3s;
z-index: -2;
}
&:hover video{
transform: scale(1.1);
}
}
.content{
margin-top: 10px;
}
.play{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
font-size: 35px;
width: 70px;
height: 70px;
text-align: center;
line-height: 70px;
background-color: $white;
border-radius: 50%;
z-index: 200000;
cursor: pointer;
}
}
}
}
.main-video{
position: fixed;
z-index: 100000000000000000;
background-color: rgba(0,0,0,.7 );
left: 0;
top:  0;
width: 100%;
height: 100vh;
display: none;
.video{
max-width: 67rem;
video{
max-width: 71%;
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border: 5px solid $white;
}
}
.fa-xmark{
position: absolute;
top: 30px;
right: 40px;
color: $white;
font-size: 50px;
z-index: 10000000000000000000000000000;
}
}
.main-video.active{
display: block;
}
// teachers
.teachers{
.container{
@include grid(325px);
.box{
text-align: center;
.top{
position: relative;
z-index: -3;
img{
z-index: -2;                  
}
.content{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 0%;
background-color: rgba(0,0,0,.7 );
transition: .3s;
overflow: hidden;
z-index: 1;
.icon{
position: absolute;
bottom: 30px;
left: 50%;
transform: translateX(-50%);
width: 100%;
transition: .3s;
i{
margin: 0 15px;
font-size: 30px;
color: $white;               
}                   
}
}       
}
&:hover .content{
height: 100%;
}
}
}
}
// blog
.blog .container{
@include grid(325px);
.box{
background-color: $light-bg;
border-radius: 5px;
.content{
padding: 20px;
.times{
display: flex;
justify-content: space-between;
span{
i{
color: $blue;
}
color: $light-color;
}
}
h2{
font-size: 15px;
margin: 15px 0  ;
}
p{
line-height: 40px;
margin-bottom: 20px;
}
.btn{
@include btn();
background-color: $light-blue;
transition: .3s;
&:hover{
background-color: $blue;
color: $white;
}
}
}
}
}
// contact
.contact{
.container{
.top{
 @include grid(280px);
.box{
background-color: $light-bg;
text-align: center;
padding: 20px;
border-radius: 5px;
i{
width: 50px;
height: 50px;
line-height: 50px;
background-color: $light-blue;
border-radius: 50%;
color: $blue;
font-size: 20px;
}
h2{
margin: 15px 0;
}
.number{
display: inline-flex;
flex-direction: column;
span{
color: $light-color;
}
}
}
}
.bottom{
display: flex;
margin-top: 50px;
gap: 20px;
.formContact{
width: 50%;
background-color: $light-bg;
padding: 20px;
border-radius: 5px;
h2{
font-size: 30px;
}
form{
display: flex;
flex-direction: column;
input,textarea{
margin: 10px 0;
border: none;
outline: none;
padding: 10px ;
border-radius: 5px;
resize: none
}
button{
@include btn();
border: none;
transition: .3s;
background-color: $light-blue;
&:hover{
background-color: $blue;
color: $white;
}
}
}
} 
.map{
width: 50%;
iframe{
width: 100%;
}
}
}
}
}
// start footer
.footer{
background-color: $light-bg;
padding: 0; 
margin-top: 40px;
 .container {
@include grid(270px);
.box{
h2{
font-size: 25px;
margin-bottom: 20px;
}
ul li{
margin: 15px 0;
 i{
color: $pink;
margin-right: 5px;
transition: .3s;
}
&:hover i{
margin-right: 15px;
}
span{
color: $black;
}
}
}
}
}
// end footer
@media (max-width:1205px) {
.about_container .about-info h2{
font-size: 30px;
}    
}
@media (max-width:970px) {
.home .container {
.top{
flex-direction: column;        
.home_img{
width: 100%;
}
.home_info{
width: 100%;   
}
}
}
.about_container{
flex-direction: column;
.about-img{
width: 100%;
}
.about-info{
width: 100%; 
}
}
.course2 .container .box {
padding:  30px 30px 80px 30px;
}
}
@media (max-width:850px) {
header{
.navbar{
position: absolute;
top:8%; left:0; right:0;
background: $blue;
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
transition: .3s;
z-index: 1;
&.active{
clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
ul li{
width:100%;
ul{
width:100%;
position: relative;
}
}
}
.menu{
display: block;
}
}
.contact .container .bottom{
flex-direction: column;
.map{
width: 100%;
}
.formContact{
width: 100%;
}
}
}
@media (max-width:440px){
.container{
padding: 50px 4%;
}
.about_container .about-info h2{
font-size: 25px;
}
} 
@media (max-width:390px) {
.home .container .top .home_info h2{
font-size: 30px;
}
.container{
padding: 50px 2%;
}
.about_container .about-info h2{
font-size: 20px;
}
.allBoxCourses-1{
.box{
padding: 35px 0px;
}
}
}
